body{
    margin: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    color: #575757;
}
.top-bg{
    background-image: #FFFFFF;
}
.top-bg p{
    color: #575757;
}
.flexible-container{
    display: flex;
    width: 100%;
}
.flexible-container img{
    width: 80%;
}
.highlight-area{
    color: #A5D4EE;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.linked-btn{
    text-decoration: none;
    background-image: linear-gradient(#3d84aa,#A5D4EE);
    padding: 15px 40px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    box-shadow: 10px 10px 40px #b6d3e2;
    display: inline-block;
    margin-top: 5%;
}
.about-me-area{
    background: url(images/about-me-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-me-area p{
    color: #575757;
}

.about-me{
    display: flex;
    width: 100%;
}
.about-me-img{
    margin-top: 15%;
    height: 30%;
    width: 30%;
}
.about-me-img img{
    width: 60%;
    height: 60%;
    margin-left: 20%;
}
.about-me-text{
    width: 50%;
    margin-top: 15%;
    margin-left: 25%;
}
.center-text{
    text-align: center;
    margin-bottom: 10%;
}
.box-item-area {
    display: flex;
    width: 100%;
    margin-bottom: 10%;
}
.box-item{
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 70px grey;
    border-radius: 30px;
    padding: 2%;
}
.box-item img{
    width: 100%;
    height: 50%;
    display: block;
    border-radius: 30px;
}
.footer-area{
    background: #0B0E17;
    padding: 2% 0;
    text-align: center;
    color: white;
}
.chefs{
    width: 30%;
    margin-left: 7%;
    margin-right: 7%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 30px;
    padding: 5% 3%;
    text-align: center;
}
.chefs img{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 360px;
}
.promotion{
    width: 60%;
    box-shadow: 10px 10px 40px grey;
    display: flex;
    margin-bottom: 10%;
    margin-left: 20%;
    border-radius: 15px;
}
.promotion h1{
    color: black;
    font-weight: 700;
}
.promotion-item{
    width: 15%;
    margin-left: 15%;
}
footer h2{
    color: #5B5B5B;
}
